<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 配置连接池: -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 配置C3P0连接池: -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	<!-- 
		配置hibernate的相关信息
	 -->
	 <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
	 	<!-- 
	 		引入c3p0连接池
	 	 -->
	 	 <property name="dataSource" ref="dataSource"/>
	 	 <!-- 
	 	 	配置hibernate的可选参数以及方言
	 	  -->
	 	  <property name="hibernateProperties">
	 	  		<props>
	 	  			<prop key="hibernate.format_sql">true</prop>
	 	  			<prop key="hibernate.show_sql">true</prop>
	 	  			<prop key="hibernate.hbm2ddl.auto">update</prop>
	 	  			<!-- 方言 -->
	 	  			<prop key="hibernate.dialec">org.hibernate.dialect.MySQLDialect</prop>
	 	  			<!-- 是否自动提交 -->
	 	  			<prop key="hibernate.connection.autocommit">false</prop>
	 	  		</props>
	 	  </property>
 	  		<!-- 配置映射文件 -->
 	  		<!-- <property name="mappingResources">
 	  			<list>
 	  				<value></value>
 	  			</list>
 	  		</property> -->
	 </bean>
	 
	 <!-- 配置事务管理器 -->
	 <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
	 	<property name="sessionFactory" ref="sessionFactory" />
	 </bean>
	 <!-- 开启事务注解 -->
	 <tx:annotation-driven transaction-manager="transactionManager"/>
	 
	 <!-- 
	 	Action的配置
	  -->
	  <!-- web层 -->
	 <bean id="indexAction" class="com.hc.web.IndexAction" scope="prototype">
	 </bean>
</beans>